.row {
	padding-top: 15px;
}

.locale {
	margin-right:5px;
}

.right {
	float:right;
}

.green {
	color:green;
}

.red {
	color:red;
}

.orange {
	color:orange;
}

.grey {
	color:grey;
}

.blue {
	color:blue;
}

.center {
	text-align:center;
}

.btn-basic {
	background-color:black;
	color:white;
}

.bg-black {
	background-color:black;
}

.white {
	color:white;
}

.bold {
	font-weight:bold;
}